<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="./styles/style.css">
    <title>MRC Impressão 3D</title>
</head>
<body>
    
    <div id="app">
        <div class="container">
           <header>
                <a v-for="link in links" :class="link.acessou ? 'link_ativo' : '' " @click="acessarLink(link)">{{ link.name }}</a>
           </header>
           <div class="main" v-if="acessei.name == 'Inicio'" style="color: #fff;">
               <h1>Ínicio</h1>
               <p>“A Impressão 3D ou Prototipagem Rápida é uma tecnologia de fabricação aditiva que está revolucionando o mundo. Aqui, transformamos seu projeto em realidade. Nosso time está preparado para solidificar sua ideia.”</p>
               <div class="video_container">
                   <div class="overlay"></div>
                   <video src="./video/01.mp4" autoplay="true" loop="true" muted="true"></video>
               </div>
           </div>
           <div class="main" v-if="acessei.name == 'Contato'">
               <h1 >Contato</h1>
               <p>Algumas redes sociais para manter contato conosco</p>
               <a href="http://facebook.com/projetista.marchi" class="button is-link is-hovered" target="_blank">
                    <span class="icon">
                            <i class="fab fa-facebook"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/mrc_impressao3d/" target="_blank" class="button is-link is-hovered">
                        <span class="icon">
                                <i class="fab fa-instagram"></i>
                        </span>
                </a>
            </div>
            <div class="main" v-if="acessei.name == 'Criar 3D'">
                <div class="over" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: -1; background: #151515;"></div>
                <div class="destaque">
                    <h1>
                        SUA IDEIA, NOSSA IMPRESSÃO.
                    </h1>
                    <p>
                        Trabalhamos com a fabricação de peças feitas a partir de impressora 3D, desde protótipos, itens de decoração, acessórios para Airsoft, chaveiros. Todas as peças são feitas em plástico, das mais diversas cores. Caso não tenha achado a peça que você tem em mente na nossa loja entre em contato, podemos desenvolver para você a sua ideia.
                    </p>
                    <div class="produtos">
                        <h1 class="okay">Produtos</h1>
                        <div class="product" v-for="produto in produtos">
                            <h1>{{ produto.name }}</h1>
                            <h1 class="price">Preço: ${{ produto.preco }}</h1>
                            <img @click="viewImage(produto)" :src="produto.img" alt="">
                        </div>
                    </div>

                    <div class="view" v-if="view">
                            <button class="close" @click="close"><i class="far fa-window-close"></i></button>
                            <h1>{{ vendo.name }}</h1>
                            <h1 class="price">Preço: ${{ vendo.preco }}</h1>
                            <img :src="vendo.img" alt="">
                    </div>
                    
                </div>
             </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/app.js"></script>
</body>
</html>